
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* alternatywa dla tla background: #2C303C; */

body 
{ 
    background: #252529;
    font-family: 'Lato', sans-serif;
    color: #fff; 
}

.responsive-nav {
  position: relative;
  margin-bottom: 10px;
  background-color: #000;
  display: none;
  width: 100%;
}

.responsive-nav:after {
  display: block;
  position: absolute;
  top: 9px;
  right: 20px;
  width: 24px;
  height: 4px;
  overflow: hidden;
  content: "";
  border-top: 5px solid #fff;
  border-bottom: 14px double #fff;
  pointer-events: none;
}
.responsive-nav .pull {
  display: block;
  width: 100%;
  text-decoration: none;
  font-size: 16px;
  font-weight: 300;
  color: #fff;
  position: relative;
  padding: 12px 20px 14px;
  text-transform: uppercase;
}
.responsive-nav > div {
  display: none;
}
.responsive-nav > div ul {
  background-color: #353535;
  position: relative;
  width: 100%;
  z-index: 100;
  display: block;
  list-style: none;
  padding: 0;
  margin: 0;
}
.responsive-nav > div ul li {
  float: left;
  width: 100%;
  text-align: center;
  display: block;
  border-bottom: 1px solid #262626;
}
.responsive-nav > div ul li:hover {
  background: #22120e;
}
.responsive-nav > div ul li a {
  display: inline-block;
  width: 100%;
  height: 100%;
  padding: 9px;
  color: #fff;
  text-decoration: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  content: "";
  clear: both;
  height: 0;
}


/* Page */

container
{
    width: 100%;
}
.row
{
    display: flex;
     justify-content: center;
    text-align: center;
}
.page h4
{
    font-size: 40px;
    letter-spacing: 1px;
}

/* Nagłówek */
h1 {
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
  font-size: 92px;
  padding: 80px 50px;
  text-align: center;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
}

h1.insetshadow {
  color: silver;
  letter-spacing: .1em;
  text-shadow: -1px -1px 1px #111, 2px 2px 1px #363636;
}

/* Scroll */
.scroll {
  position: relative;
  width: 24px;
  height: 24px;
margin-top: 50px;
}

.chevron {
  position: absolute;
  width: 28px;
  height: 8px;
  opacity: 0;
  transform: scale3d(0.5, 0.5, 0.5);
  animation: move 3s ease-out infinite;
}

.chevron:first-child {
  animation: move 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
  animation: move 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
  content: ' ';
  position: absolute;
  top: 0;
  height: 100%;
  width: 51%;
  background: #fff;
}

.chevron:before {
  left: 0;
  transform: skew(0deg, 30deg);
}

.chevron:after {
  right: 0;
  width: 50%;
  transform: skew(0deg, -30deg);
}

@keyframes move {
  25% {
    opacity: 1;

  }
  33% {
    opacity: 1;
    transform: translateY(30px);
  }
  67% {
    opacity: 1;
    transform: translateY(40px);
  }
  100% {
    opacity: 0;
    transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
  }
}

.text {
  display: block;
  margin-top: 75px;
  margin-left: -30px;
  font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
  font-size: 12px;
  color: #fff;
  text-transform: uppercase;
  white-space: nowrap;
  opacity: .25;
  animation: pulse 2s linear alternate infinite;
}

@keyframes pulse {
  to {
    opacity: 1;
  }
}


/* Sekcja O mnie  */
.row-1
{
   display: flex;
     justify-content: center;
    text-align: center; 
}
.title-1
{
    font-size: 40px;
    margin: 70px auto;
    font-weight: 700;
    letter-spacing: 2px;

}
.side-1, .side-2
{
    flex: 1;
}
.side-1
{
    
}
.side-1 img
{
    width: 500px;
    height: 300px;
    border: 2px solid silver;
    margin: 50px;
}
.side-2
{
    
}
.side-2 .text-1
{
    margin: 50px;
    font-size: 18px;
    text-align: justify;
}
.con-1
{
    margin-top: 100px;
}

/* Sekcja Umiejętności */
.title-2
{
    font-size: 40px;
    margin: 80px auto;
    font-weight: 700;
    letter-spacing: 2px;
}
.row-2
{
    display: flex;
    flex-direction: column;

}
.row-2 h3
{   display: flex;
   justify-content: center;
    margin-top: 30px;
    margin-bottom: 60px;
}
.row-2 .tech-1
{
    display: flex;
    align-items: center;
    justify-content: space-around;
   
}
.row-2 .tech-1 ul
{
    display: flex; 
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 700px;
    list-style-type: none;
    margin-bottom: 40px;
}
.row-2 .tech-1 ul li img
{
   
    margin: 40px;
    
}
.row-2 .tech-2
{
    display: flex;
    align-items: center;
    justify-content: space-around;
   
}
.row-2 .tech-2 ul
{
    display: flex; 
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 700px;
    list-style-type: none;
    margin-bottom: 40px;
}
.row-2 .tech-2 ul li img
{
   
    margin: 40px;
    
}


/* Sekcja Portfolio */

.con-2
{
    margin: 30px auto 40px;
}
.title-3
{
    font-size: 40px;
    margin: 80px auto;
    font-weight: 700;
    letter-spacing: 2px;
}

.row-3
{
    display: flex;
}
.row-3 .port-1
{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.row-3 .port-2
{
    flex: 1;
    justify-content: center;
    align-items: center;
    display: flex;
}
.row-3 .port-1 img
{
    width: 350px;
    height: 230px;  
    border: 3px solid silver;
}
.row .port-1 .port-text-1
{
    
}
.row-3 .port-2 .port-text-2
{
   
}
.row-3 .port-2 .port-text-2 p
{
    text-align: left;
    font-size: 26px;
    width: 200px;
}
.row-3 .port-1 .port-text-1 p
{
    font-size: 26px;
    margin-top: 20px;
    text-align: center;
    color: #9c2b0e;
}
.row-3 .port-1 .port-text-1 p:hover
{
    color: #7c7371;
}



/*  Sekcja Kontakt */
.title
{
    font-size: 40px;
    margin: 80px auto;
    font-weight: 700;
    letter-spacing: 2px;
}
.row-4
{
    display: flex;
}
.row-4 .con-1, .row-4 .con-2, .row-4 .con-3
{
    flex: 1;
}
.row-4 .con-1
{
    margin: 30px;

}
.row-4 .con-2 .social 
{
    display: flex;
    justify-content: center;
}



/* Formularz kontaktowy */

#contact-wrap {
  font-family: 'Lato', calibri, arial;
  font-size:16px;
  font-weight:300;
  width: 402px;
  color:#fff;
	overflow:auto; 
	float:left;
}

#contact-area {
  margin-left:3px;
	width: 342px;

  padding:20px;
}

#contact-area input, #contact-area textarea {
	padding: 5px;
	width: 342px;
  font-family: 'Lato', calibri, arial;
  font-size:14px;
  font-weight:300;
  color:#fff;
      background-color:transparent;
      border-top: 1px solid transparent;
      border-left: 1px solid transparent;
      border-bottom: 1px solid #fff;
      border-right: 1px solid transparent;
  
  margin-bottom:15px;
}

#contact-area textarea {
	height: 150px;
        background-color:transparent;
  border-top: 1px solid transparent;
  border-left: 1px solid transparent;
  border-bottom: 1px solid #fff;
  border-right: 1px solid transparent;
  
}

#contact-area textarea:focus, #contact-area input:focus {
	        background-color:#333;
      border-top: 1px solid transparent;
      border-left: 1px solid transparent;
      border-bottom: 1px solid #fff;
      border-right: 1px solid transparent;
  
}

#contact-area input.submit-button {
  font-family: 'Lato', calibri, arial;
  font-size:12px;
  font-weight:300;
  text-transform:uppercase;
	width: 100px;
	float: left;
  background-color:transparent;
  border-top: 1px solid #fff;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
  
    	-moz-transition:all 0.1s ease-in-out;
	-webkit-transition:all 0.1s ease-in-out;
	-o-transition:all 0.1s ease-in-out;
	-ms-transition:all 0.1s ease-in-out;
	transition:all 0.1s ease-in-out;
}

#contact-area input.submit-button:hover {

  color:#fff;
  background-color:#333;


}

label {
	float: left;
	text-align: left;
	margin-right: 16px;
	width: 100px;
	padding-top: 5px;
  font-family: 'Lato', calibri, arial;
  font-size:18px;
  font-weight:300;
}



::-webkit-input-placeholder {
  color: #fff;

  font-size:14px;
}

:-moz-placeholder { /* Firefox 18- */
  color: #fff; 

  font-size:14px;
}

::-moz-placeholder {  /* Firefox 19+ */
  color: #fff;

  font-size:14px;
}

:-ms-input-placeholder {  
   color: #fff;  

  font-size:14px;
}



background: #2C303C;

/* Ikony social */


.list-unstyled {
	padding-left: 0;
	list-style: none;
}
.list-inline li {
	display: inline-block;
	padding-right: 5px;
	padding-left: 5px;
	margin-bottom: 10px;
}

.social-icons .fa {
	font-size: 1.8em;
}

.social-icons .fa {
	width: 50px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	color: #FFF;
	color: rgba(255, 255, 255, 0.8);
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.social-icons.icon-circle .fa{ 
	border-radius: 50%;
}
.social-icons.icon-rounded .fa{
	border-radius:5px;
}
.social-icons.icon-flat .fa{
	border-radius: 0;
}

.social-icons.icon-rotate .fa:hover, .social-icons.icon-rotate .fa:active { 
	-webkit-transform: scale(1.1) rotate(360deg);
	-moz-transform: scale(1.1) rotate(360deg);
	-ms-transform: scale(1.1) rotate(360deg);
	-o-transform: scale(1.1) rotate(360deg);
	transform: scale(1.1) rotate(360deg);
}
 
.social-icons .fa-github,.social-icons .fa-github-alt,.social-icons .fa-github-square
{
    background-color:#070709;
} 
.social-icons .fa-instagram
{
    background-color:#A1755C;
}
.social-icons .fa-twitter,.social-icons .fa-twitter-square
{
    background-color:#32CCFE;
} 
.social-icons .fa-linkedin,.social-icons .fa-linkedin-square

{
    background-color:#0085AE;
} 


/* Stopka */

.row p
{
    margin: 70px auto 1px;
    font-size: 26px;
    letter-spacing: 2px;
}
